<%- include('partials/header') %>
<h1>Promo : Zenith</h1>

<form method="POST">
    <p>
        <label>Nom</label>
        <input type="text" name="name" value="Zenith">
    </p>
    <p>
        <label>Nom</label>
        <input type="url" name="github_organization" value="https://github.com/O-clock-Zenith">
    </p>
    <p>
        <button>Valider</button>
    </p>
</form>

<%- include('partials/footer') %>
