<%- include('partials/header') %>
    <h1>Se connecter</h1>
    <form method="POST">
        <p>
            <label>Login</label>
            <input type="text" name="username" placeholder="votre pseudo">
        </p>
        <p>
            <button>Valider</button>
        </p>
    </form>
<%- include('partials/footer') %>
